<style>
  @import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:opsz@6..12&family=Open+Sans&family=Varela+Round&display=swap');
</style>
*{
    margin: 0;
    padding: 0;
}
body{
  background-image: url('https://source.unsplash.com/1480x980/?focus');
}
nav ul{
    display: flex;
    list-style-type:none;
    text-align: center;
    color: white;
    padding: 22px ;
    

}
nav{
  border-radius:0.5rem;
    background-color: grey;
    height: 60px;

}
.container{
    justify-content: center;
    padding: 50px;
}
nav ul li{
    padding:0 12px;
    
    border-radius:0.9rem;
    
    color: black;
    
}
nav ul li a{
  text-decoration: none;
  color: black;
}
nav ul li:hover{
    background-color: beige;
}
.container{
    margin:15vh ;
    padding: 10px;
        /* width:980px; */
   
   
    /* border: 1px solid black; */
    border-radius: 2vh;
    background-color: rgba(165, 163, 163, 0.491);

}

.container ul{
    list-style-type: none;
    margin:50px;
    padding:90px;
    
    
}
.container ul li {
    padding:15px;
    text-align: center;
    font-family: 'Open Sans';
    
}
.container ul li {
  border:1px solid blue;
  border-radius: 1rem;
  margin: 10px;
}
.container ul li:hover{
  background-color: aqua;
}

  .container ul li a{
    text-decoration: none;
  }
  footer {
    background-color: #8e44ad; /* Light Purple */
    color:black;
    text-align: center;
    padding: 10px;
    position: fixed;
    bottom: 0;
    width: 100%;
    animation: rotateColor 5s linear infinite;
  }
  footer p a{
    text-decoration: none;
    color: black;
  }
  footer p a:hover{
    color:rgb(15, 239, 239);
  }
  footer ul li{
    list-style-type: none;
    padding: 25px;
    display: inline;
  }
  footer ul li a{
    text-decoration: none;
    
  }
footer ul li a:hover{
  color: aquamarine;
}
  @keyframes rotateColor {
    0% {
      background-color: #908a92; /* Light Purple */
    }
    25% {
      background-color: #918c91; /* Dark Purple */
    }
    50% {
      background-color: #cfc2ce; /* Red */
    }
    75% {
      background-color: #818082; /* Green */
    }
    100% {
      background-color: #585759; /* Light Purple */
    }
  }